@layer module, state;

@layer state {
  p.alert { background-color: purple !important; }
  p { border: medium solid limegreen; padding: 2em; }
}

@layer module {
  .alert {
    border: medium solid violet; color: white;
  }
  p{ padding: 1em; }
  p.alert{ background: red !important; }
}

@layer{
  p.alert { background: blue !important; }
}

p.alert{ background: gray !important; }
